In [1]:
#This is a comment in R
x <- 10
message <- "Hello, World!"

print(x)
print(message)

# Addition
sum <- 3 + 5
print(sum) # Outputs: 8
# Multiplication
product <- 7 * 3
print(product) # Outputs: 21
# Division
quotient <- 15 / 3
print(quotient) # Outputs: 5
# Exponentiation
power <- 2^3
print(power) # Outputs: 8
# Modulus
remainder <- 10 %% 3
print(remainder) # Outputs: 1


employee_data <- data.frame(
ID = c(1, 2, 3),
Name = c("John", "Maria", "Charlie"),
Age = c(28, 34, 25)
)

#displaying the dataframe
print("Employee Data Frame:")
print(employee_data)

install.packages("ggplot2")
#In R, libraries (also known as packages) are collections of R functions, data, and compiled code that have been developed by the community

#This command needs to be run each time you start a new R session and want to use the package
library(ggplot2)

[1] 10
[1] "Hello, World!"
[1] 8
[1] 21
[1] 5
[1] 8
[1] 1
[1] "Employee Data Frame:"
  ID    Name Age
1  1    John  28
2  2   Maria  34
3  3 Charlie  25

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

# **SECTION A**

SECTION A Assigning Variables in R


1.    Create a variable named product_price and assign it the value of 99. Assign another variable named quantity with the value 5. Display both variables.

2.    Assign the string "Data Science" to a variable named course_name. Display the variable.

3.    Create a variable x with value 20.5, and a variable y with value 30.5. Swap their values without using a temporary variable.

4.    Create a variable is_active and assign it a boolean value TRUE. Display the variable.

5.    Assign the numbers 1 through 5 to a variable named numbers using the “:” operator. Display the variable.

In [ ]:
product_price <- 99
quantity <- 5
print(product_price)
print(quantity)

[1] 99
[1] 5

In [ ]:
course_name <- "Data Science"
print(course_name)

[1] "Data Science"

In [ ]:
x <- 20.5
y <- 30.5
x <- x + y
y <- x - y
x <- x - y
print(x)
print(y)

[1] 30.5
[1] 20.5

In [ ]:
is_active <- TRUE
print(is_active)

[1] TRUE

In [ ]:
numbers <- 1:5
print(numbers)

[1] 1 2 3 4 5

# **SECTION B**

SECTION B Arithmetic Operations


1.    Calculate the sum of 123 and 456, and store the result in a variable named total_sum. Display the variable.

2.    Subtract 50 from 200 and divide the result by 5. Store the result in a variable named result. Display the variable.

3.    Raise 5 to the power of 3 and store the result in a variable named power_result. Display the variable.

4.    Calculate the remainder of 17 divided by 5 and store it in a variable named remainder. Display the variable.

5.    Find the square root of 81 and store the result in a variable named square_root. Display the variable.

In [ ]:
total_sum = 123 + 456
print(total_sum)

[1] 579

In [ ]:
result = (200 - 50) / 5
print(result)

[1] 30

In [ ]:
power_result = 5 ** 3
print(power_result)

[1] 125

In [ ]:
remainder = 17 %% 5
print(remainder)

[1] 2

In [ ]:
#** (0.5) to compute square root
square_root = 81 ** 0.5
print(square_root)

[1] 9

# **SECTION C**

SECTION C Data frames

1.    Create a data frame named students with two columns: name containing "Alice", "Bob", and "Charlie", and age containing 24, 19, and 22 respectively. Display the data frame.

2.    Add a new column grade to the students data frame with values "A", "B", and "C" for each student respectively. Display the updated data frame.

3.    Create a data frame products with columns product_id (1, 2, 3), product_name ("Laptop", "Tablet", "Smartphone"), and price (6500, 2500, 5600). Display the data frame.

4.    Filter the students data frame to show only students who are 22 years old or older. Display the result.

5.    Sort the students data frame by age in descending order and store the result in students_sorted. Display students_sorted.

In [ ]:
students <- data.frame(name = c("Alice", "Bob", "Charlie"),
                       age = c(24, 19, 22))
print(students)

     name age
1   Alice  24
2     Bob  19
3 Charlie  22

In [ ]:
students$grade <- c("A", "B", "C")
print(students)

     name age grade
1   Alice  24     A
2     Bob  19     B
3 Charlie  22     C

In [ ]:
products <- data.frame(product_id = c(1, 2, 3),
                       product_name = c("Laptop", "Tablet", "Smartphone"),
                       price = c(1200, 600, 999))
print(products)

  product_id product_name price
1          1       Laptop  1200
2          2       Tablet   600
3          3   Smartphone   999

In [ ]:
students_22_or_older <- subset(students, age >= 22)
print(students_22_or_older)

     name age grade
1   Alice  24     A
3 Charlie  22     C

In [ ]:
students_sorted <- students[order(-students$age), ]
print(students_sorted)

     name age grade
1   Alice  24     A
3 Charlie  22     C
2     Bob  19     B