# **SECTION B: Numeric**

In [ ]:

# 1. Create a numeric variable temperature with a value of 36.6. Display its value.
temperature <- 36.6
print(temperature)

# 2. Calculate the square root of 144 using a numeric variable and display the result.
sqrt_144 <- sqrt(144)
print(sqrt_144)

# 3. Compare if 10.5 is greater than 9.8 and store the result in a variable. Display the outcome.
comparison <- 10.5 > 9.8
print(comparison)

# 4. Convert the numeric value 100.75 into an integer and display the result.
int_value <- as.integer(100.75)
print(int_value)

# 5. Use a numeric value to calculate and display the logarithm (base 10) of 1000.
log_1000 <- log10(1000)
print(log_1000)

[1] 36.6
[1] 12
[1] TRUE
[1] 100
[1] 3

## **SECTION C: Integer**

In [ ]:

# 1. Define an integer variable days_in_year with a value of 365 and display it.
days_in_year <- 365
print(days_in_year)

# 2. Subtract 1 from the variable days_in_year and display the new value.
days_in_year <- days_in_year - 1
print(days_in_year)

# 3. Generate a sequence of integers from 1 to 20 and store it in a variable. Display the variable.
int_sequence <- 1:20
print(int_sequence)

# 4. Find the remainder when 50 is divided by 9 using integer variables.
remainder <- 50 %% 9
print(remainder)

# 5. Perform integer division of 100 by 3 and display the quotient.
quotient <- 100 %/% 3
print(quotient)

[1] 365
[1] 364
 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20
[1] 5
[1] 33

In [ ]:
# Create a numeric vector
numbers <- c(3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5)

# Use the range function
result <- range(numbers)

# Print the result
print(result)  # This will output the smallest and largest numbers in the vector

[1] 1 9

## **SECTION D: Character**

In [ ]:

# 1. Assign the string "R is fun!" to a variable and print it.
message <- "R is fun!"
print(message)

# 2. Concatenate the first name "John" and the last name "Doe" with a space between and display the full name.
full_name <- paste("John", "Doe")
print(full_name)

# 3. Create a character variable sentence and find the number of characters it contains.
sentence <- "This is a sample sentence."
print(nchar(sentence))

# 4. Extract the first 5 characters from the string "Hello World".
first_five <- substr("Hello World", 1, 5)
print(first_five)

# 5. Convert "hello" to upper case.
upper_hello <- toupper("hello")
print(upper_hello)

[1] "R is fun!"
[1] "John Doe"
[1] 26
[1] "Hello"
[1] "HELLO"

## **SECTION E: Logical**

In [ ]:

# 1. Assign a FALSE value to a variable is_weekend and display it.
is_weekend <- FALSE
print(is_weekend)

# 2. Check if 5 is greater than 2 AND 8 is less than 10. Display the result.
check_logic <- 5 > 2 & 8 < 10
print(check_logic)

# 3. Create a logical vector indicating whether each number in 1:5 is greater than 3.
logical_vector <- 1:5 > 3
print(logical_vector)

# 4. Use a logical condition to filter values greater than 0 from a numeric vector.
numeric_vector <- c(-2, -1, 0, 1, 2)
filtered_vector <- numeric_vector[numeric_vector > 0]
print(filtered_vector)

# 5. Assign a logical value and then use negation to reverse it. Display both.
logical_value <- TRUE
negated_value <- !logical_value
print(logical_value)
print(negated_value)

[1] FALSE
[1] TRUE
[1] FALSE FALSE FALSE  TRUE  TRUE
[1] 1 2
[1] TRUE
[1] FALSE

## **SECTION F: Factor**

In [ ]:

# 1. Create a factor variable months with levels representing the three months "January", "February", "March". Display the levels.
months <- factor(c("January", "February", "March"))
print(levels(months))

# 2. Convert the months factor into an ordered factor indicating the sequence of months.
ordered_months <- factor(months, ordered = TRUE)
print(ordered_months)

# 3. Add a new month "April" to the months factor levels and display the updated factor.
levels(ordered_months) <- c(levels(ordered_months), "April")
print(ordered_months)

# 4. Subset the second month from the months factor and display it.
second_month <- ordered_months[2]
print(second_month)

# 5. Summarize the months factor to display the frequency of each level.
print(table(months))

[1] "February" "January"  "March"
[1] January  February March
Levels: February < January < March
[1] January  February March
Levels: February < January < March < April
[1] February
Levels: February < January < March < April
months
February  January    March
       1        1        1

## **SECTION G: Vector**

In [ ]:

# 1. Create a numeric vector weights with five values and display it.
weights <- c(55, 60, 65, 70, 75)
print(weights)

# 2. Create a character vector colors representing three colors and display it.
colors <- c("red", "green", "blue")
print(colors)

# 3. Create a logical vector indicating whether each value in a numeric vector is positive.
positive_vector <- weights > 0
print(positive_vector)

# 4. Calculate the mean of a numeric vector and display the result.
mean_weight <- mean(weights)
print(mean_weight)

# 5. Access and display the third element of a vector.
third_element <- weights[3]
print(third_element)

## **SECTION H: List**

In [ ]:

# 1. Create a list mixed_list containing a numeric vector, a character string, and a logical value. Display the list.
mixed_list <- list(c(1, 2, 3), "R is great", TRUE)
print(mixed_list)

# 2. Extract and display the second element of mixed_list.
second_element <- mixed_list[[2]]
print(second_element)

# 3. Add a new element, an integer vector, to mixed_list and display the updated list.
mixed_list <- c(mixed_list, list(c(4L, 5L, 6L)))
print(mixed_list)

# 4. Create a list within mixed_list containing two character strings and display the entire structure.
mixed_list <- c(mixed_list, list(c("string one", "string two")))
print(mixed_list)

# 5. Display the length of mixed_list.
print(length(mixed_list))

## **SECTION I: Matrix**

In [ ]:

# 1. Create a 3x3 matrix m with sequential numbers and display it.
m <- matrix(1:9, nrow = 3, ncol = 3)
print(m)

# 2. Extract and display the element in the second row, third column of m.
print(m[2, 3])

# 3. Calculate the transpose of m and display the result.
m_transpose <- t(m)
print(m_transpose)

# 4. Compute and display the sum of each row and each column in m.
print(rowSums(m))
print(colSums(m))

# 5. Multiply m by a 3x1 matrix of ones and display the result.
ones <- matrix(rep(1, 3), ncol = 1)
print(m %*% ones)

## **SECTION J: Array**

In [ ]:

# 1. Create a 2x2x2 array a with random numbers and display it.
a <- array(runif(8), dim = c(2, 2, 2))
print(a)

# 2. Extract and display the element in position 1,1,2 of a. Display the entire array.
print(a[1, 1, 2])
print(a)

# 3. Calculate the sum of a across its first dimension and display the result.
print(apply(a, c(2, 3), sum))

# 4. Apply the mean function to each slice of a in the third dimension and display each mean.
print(apply(a, 3, mean))

# 5. Flatten a into a vector and display the vector.
a_vector <- as.vector(a)
print(a_vector)

# **SECTION K: Data Frame**

In [ ]:

# 1. Create a dataframe df with two columns: ID as integer and Name as character. Populate it with sample data and display it.
df <- data.frame(ID = 1:5, Name = c('Alice', 'Bob', 'Charlie', 'David', 'Eva'))
print(df)

# 2. Display the Name column from df.
print(df$Name)

# 3. Add a new column Score to df with sample numeric scores and display the updated dataframe.
df$Score <- c(90, 85, 88, 92, 95)
print(df)

# 4. Subset and display rows of df where Score is greater than 50.
print(df[df$Score > 50, ])

# 5. Use a function to display summary statistics (mean, min, max) for the Score column in df.
print(summary(df$Score))